* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

header {
    background: #005D99;
    margin: auto;
}

header nav {
    overflow: hidden;
}

header nav ul {
    list-style: none;
}

.menu li {
    float: left;
    padding: 1em 2em;
}

.buscar li {
    float: right;
    padding: 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.logo {
    float: left;
    font-weight: bold;
    font-size: 2em;
    color: white;
    margin: 0.2em;
}

.content {
    width: 60%;
    margin: auto;
}

h1 {
    text-align: center;
    color: #005D99;
    font-size: 2em;
    margin: 1em;
}

.bloque {
    margin: 1em;
    padding: 1em;
    border: 2px solid #005D99;
    box-shadow: 4px 4px #005D99;
}

td {
    padding: 1em;
    border: 2px solid #005D99;
}

table {
    width: 100%;
}

#rSalas{
    width: 50%;
}

#tSalas, #tFuncion {
    width: 90%;
    display: block;
    height: 13.1em;
    overflow-y: scroll;
}

#tPelis {
    width: 92%;
    display: block;
    height: 14.6em;
    overflow-y: scroll;
}